body{
    background-color: lightslategray;
    
}
h1{
    color: lightskyblue;
    font-family: sans-serif;    
}


h3{
  font-size: 36px;
  color: #ff5733;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}
p{
    color: wheat;
}


